.marketing {
  display: flex;
  flex-direction: column;
  background: url("../img/marketing-app.png") bottom center/100% 518px no-repeat,var(--marketing-bg);
  height: 671px;
}

.marketing__inner {
  margin: 0 auto;
  margin-bottom: 115px;
}