@font-face {
  font-family: "Gothic";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GothicA1-Regular.woff2") format("woff2"),
    url("../fonts/GothicA1-Regular.woff2");
}

@font-face {
  font-family: "Gothic";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/GothicA1-Bold.woff2") format("woff2"),
    url("../fonts/GothicA1-Bold.woff");
}