:root {
  --bg-header: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  --color-white: #FFFFFF;
  --text-easy-gray: #A8A8A8;
  --color-header-hover: #CF0063;
  --color-button-hover: #3C0C41;
  --easy-pink: #FC0A7E;
  --application-bg: #1B1B1B;
  --advantages-bg: #FFFFFF;
  --advantages-subtitle: #000000;
  --advantages-text: #6B6B6B;
  --interesting-bg: #FFFFFF;
  --interesting-subtitle: #000000;
  --interesting-text: #6B6B6B;
  --statistics-bg: #FFFFFF;
  --statistics-numder: #333333;
  --statistics-text: #000000;
  --promo-link: #6B6B6B;
  --promo-img-bg: #6B6B6B;
  --reviews-bg: #FFFFFF;
  --reviews-text: #6B6B6B;
  --reviews-after: #D3D3D3;
  --marketing-bg: #FFFFFF;
  --footer-bg: #1B1B1B;
  --footer-title: #FFFFFF;
  --footer-text: #6B6B6B;
  --get-start-text: #FFFFFF;
  --border-button: #B04BB3;
} 

// statistics border-button
